html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Russo One', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
header {
    background: url('../image/about_us.png') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: 0.3s;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu li {
    display: block;
    margin: 0 23px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}
.menu li a.active{
    color: #FEA644;
}

.menu li a:hover {
    color: #FEA644;
}

.container_header {
    margin: 0 auto;
    /* padding-left: 117px; */
    /* padding-right: 117px; */
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.button_sign_up {
    color: #434376 !important;
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 60px;
    text-align: center;
    padding: 15px 56px;
    font-weight: 500;
    text-decoration: none;
    padding: 11px 34px;
    font-size: 12px;
}

.button_sign_up:hover {
    background-color: #FEA644;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

.logo {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text {
    margin-top: 60px;
}

.title {
    font-size: 35px;
    color: #FEA644;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.title_descp_wrap {
    display: block;
}

.title_line {
    border-left: 6px solid #2B296A;
    height: 80px;
}
.title_descp_2{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    line-height:1.8;
}
.main_content{
    width: 100%;
    background-color: #EAEAEA;
}
.content_wrap{
    width: 100%;
}
.content_name, .content_desc_wrap{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.content_desc_wrap_second{
    padding-bottom: 30px;
}
.content_desc_wrap{
    padding-top: 0px;
}
.content_title_first{
    color: #2B296A;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.content_title_line{
    margin-right: -100px;
    margin-top: 30px;
    border-top: 6px solid #FEA644;
    width: 240px;
    padding-bottom: 45px;
}
.content_desc_wrap{
    padding-top: 5px;
    padding-bottom: 5px;
}
.content_desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B296A;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: -80px;
}
.content_img_first{
    width: 70%;
    margin-top: -15px;
    margin-left: 10px;
    float: right;
}
.content_title_line_second{
    margin-left: -100px;
}
.content_title_second{
    margin-left: -80px;
    width: 49%;
}
.content_img_second{
    float: left;
    width: 65%;
}
.inventory{
    width: 50%;
}
.first_inventory_wrap, .second_inventory_wrap{
    display: flex;
    margin-top: -10px;
}
.triangle{
    width: 20px;
}
.first_inventory, .second_inventory{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B296A;
    padding-left: 20px;
}
.footer_line{
    border-top: 2px solid #2B296A;
    width: 100%;
    margin-top: 50px;
}
.footer_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.name_site{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B296A;
    float: left;
}
.site_rights{
    float: right;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
