html,
body {
    margin: 0;
    padding: 0;
    position:relative; 
    min-height:100%;
}

* {
    font-family: 'Russo One', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
header {
    background-color: #EAEAEA;
    width: 100%;
    height: 87.8vh;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: 0.3s;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu li {
    display: block;
    margin: 0 23px;
}
.menu li a.active{
    color: #FEA644;
}
.menu li a {
    color: #2B296A;
    text-decoration: none;
    font-size: 12px;
}

.menu li a:hover {
    color: #FEA644;
}

.container_header {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.button_sign_up {
    color: #434376 !important;
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 60px;
    text-align: center;
    padding: 15px 56px;
    font-weight: 500;
    text-decoration: none;
    padding: 11px 34px;
    font-size: 12px;
}

.button_sign_up:hover {
    background-color: #FEA644;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

.logo {
    text-decoration: none;
    color: #FEA644;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_content_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.contact_text{
    width: 30%;
    height: 100px;
}
.contact_form{
    width: 70%;
    height: 100px;
}
.contetnt_text_title{
    font-size: 35px;
    color: #FEA644;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.contetnt_text_desc{
    color: #2B296A;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.8;
}
.form{
    width: 100%;
    height: 270px;
    background-color: #ffffff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.form_input_wrap{
    display: flex;
    justify-content: space-between;
}
.form_wrap{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
#inputs_first, #inputs_second{
    width: 50%;
    margin-top: 30px;
    text-align: center;
}
.input{
    width: 90%;
    height: 55px;
    border: rgba(183, 183, 183, 1) 1px solid;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}
.input_second{
    height: 145px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.submit_aadap{
    float: right;
    margin-top: 23px;
    color: #FEA644;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style:none;
}
.submit_aadap:hover{
    color: #2B296A;
}
.footer{
    height: 50px; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer_wrap, .foot_wrap{
    width: 100%;
}
.foot_wrap{
    background: #EAEAEA;
}
.footer_line{
    border-top: 2px solid #2B296A;
    width: 100%;
    margin-top: 50px;
}
.footer_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.name_site{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B296A;
    float: left;
}
.site_rights{
    float: right;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
