html,
body {
    margin: 0;
    padding: 0;
    position:relative; 
    min-height:100%;
}

* {
    font-family: 'Russo One', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
header {
    background-color: #EAEAEA;
    width: 100%;
    height: 100vh;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: 0.3s;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a.active{
    color: #FEA644;
}
nav .menu li {
    display: block;
    margin: 0 23px;
}

.menu li a {
    color: #2B296A;
    text-decoration: none;
    font-size: 12px;
}

.menu li a:hover {
    color: #FEA644;
}

.container_header {
    margin: 0 auto;

    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.button_sign_up {
    color: #434376 !important;
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 60px;
    text-align: center;
    padding: 15px 56px;
    font-weight: 500;
    text-decoration: none;
    padding: 11px 34px;
    font-size: 12px;
}

.button_sign_up:hover {
    background-color: #FEA644;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}

.logo {
    text-decoration: none;
    color: #FEA644;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_site{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    background-color: #434376 ;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: auto;
    width: 100%;
}
.list-item {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 8px;
}
.list-item_done {
    opacity: 0.7;
    background-color: #FEA644;
}
.list-item_done .list-item__text {
    text-decoration: line-through;
}
  .list-item:last-child {
    margin-bottom: 0;
}
.list-item__checkbox {
    margin-right: 8px;
}
.list-item__delete-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-left: auto;
    text-decoration: none;
    padding: 0;
    transform: rotate(45deg);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    opacity: 0.7;
}
.list-item__delete-btn::before {
    content: "+";
}
  
.btn_two_adap{
    height: 38px;
    min-width: 150px;
    background-color: #FEA644;
    border: 1px solid #FEA644;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 16px;
    color: #434376 ;
}  
.btn_two_adap:hover{
    background-color: #ffffff;
    border: 1px solid #ffffff;

}
.actions {
    display: flex;
    margin-bottom: 8px;
  }
  
.task-input {
    height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    flex: 1;
}
.title_site_desc{
    font-size: 20px;
}
.footer{
    height: 50px; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer_wrap, .foot_wrap{
    width: 100%;
}
.foot_wrap{
    background: #EAEAEA;
}
.footer_line{
    border-top: 2px solid #2B296A;
    width: 100%;
    margin-top: 50px;
}
.footer_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.name_site{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B296A;
    float: left;
}
.site_rights{
    float: right;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
